@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


// Main Theme Colors
$color-primary :  #FF6B01;
$color-secondary: #00366D;
$color-default: #343434;
$color-grey: #5B5B5B;


// Font Families
$font-primary : 'Montserrat', sans-serif;
